.p-2{
    padding: 0 .5em;
} 
.nav-container{
    width: 900px;
}
.row{
    display: flex; 
    width: 100%;
    justify-content: center;
    align-items: center;
}
.col-3{
    flex-basis: 25%;
}
.content {
    border: solid;
}
.main-banner {
    border: solid;
}
.search-box {
    border: solid;
}
.container {
    border: solid;
}
.bottom {
    border: solid;
}
.newsfeed {
    border: solid;
}
.diplay-stock {
    text-align: right;
}
#int {
    display: flex;
}
