/* element styles */
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 576px;
}

aside, main {
    flex-grow: 1;
}

aside {
    border: 1px solid #bbb;
}

footer {
    background-color: #333533;
    color: #fff;
    padding: 1px;
}

/* object-oriented classes */
.card-action .page-btn {
    width: 100px;
}

.container {
    width: auto !important
}

.error-msg {
    color: #ff0000;
    display: block;
    font-style: italic;
    padding: 10px 0 7px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.header {
    margin-top: 0;
    text-transform: uppercase;
}

.local-links {
    display: block;
    cursor: pointer;
    color: #0D47A1;
    padding: 5px;
    text-decoration: underline;
    text-transform: uppercase;
}

.local-links:hover {
    background-color: #45679c;
    color: #ffffff;
}

.local-links:active {
    background-color: transparent;
    transition: 1s;
}

.logo {
    position: relative !important;
}

.main-content {
    min-height: 83vh;
    padding-top: 1rem;
    max-width: 60%;
    width: auto;
}

.navbar {
    height: auto;
    line-height: normal;
}

.navbar .row {
    margin-bottom: 0;
}

.navbar ul li {
    background-color: #45679c;
    text-align: center;
    width: 50%;
}

.navbar ul li:first-child {
    -webkit-box-shadow: -1px 0 0 0 rgba(0,0,0,0.5) inset;
    -moz-box-shadow: -1px 0 0 0 rgba(0,0,0,0.5) inset;
    box-shadow: -1px 0 0 0 rgba(0,0,0,0.5) inset;
}

.navbar ul li:hover,
.navbar ul li.active {
    background-color: #aeaeae;
    color: #000000;
}

.navbar ul li span {
    cursor: pointer;
    display: inline-block;
    padding: 25px 20px;
}

.options {
    border: 1px solid #aeaeae !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    display: block;
}

.options:focus {
    outline: none;
}

.page-title {
    width: 60%;
}

.page-btn {    
    background-color: #0D47A1;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.page-btn:focus {    
    background-color: #0D47A1;
}

.page-btn:hover {    
    background-color: #45679c;
}

.search-form {    
    box-sizing: border-box;
}

.search-btn {
    width: 100%;
}

.time-date span {
    display: block;
    padding-bottom: 5px;
}

.user-input {
    box-sizing: border-box !important;
    display: block;
    margin-bottom: 0;
    overflow: hidden !important;
    padding-left: 10px !important;
    text-transform: uppercase;
}

.user-input:focus {
    border-bottom: 1px solid #000000 !important;
    -webkit-box-shadow: 0 1px 0 0 #000000 !important;
    box-shadow: 0 1px 0 0 #707070 !important;
}

.user-input::placeholder {
    text-transform: none;
}

.section.no-pad-bot {    
    min-height: 83vh;
}

/* media queries */
@media screen and (max-width: 375px) {
}

@media screen and (min-width: 376px) and (max-width: 1119px) {
}
